.logo {
  width: 80%;
}

span {
  color: green;
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3em;
}

.play_button {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border-style: none;
  background: radial-gradient(red, #450000);
}

.play_button--icon {
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

html {
  height: 100%;
}

body {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, black), to(rgba(0, 212, 255, 0))), url("../images/background.jpg");
  background: linear-gradient(90deg, black 20%, rgba(0, 212, 255, 0) 100%), url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0%;
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
}

h6 {
  font-weight: normal;
}

.stars {
  position: fixed;
}

.star {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: animate linear infinite;
          animation: animate linear infinite;
  -webkit-box-shadow: 0px 0px 10px 1px white;
          box-shadow: 0px 0px 10px 1px white;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
/*# sourceMappingURL=main.css.map */