@import '_details';
html{
    height: 100%;
}
body{
    background:linear-gradient(90deg, rgb(0, 0, 0)20%, rgba(0,212,255,0) 100%), url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.container{
    height: fit-content;
    margin: 0%;
    object-fit: cover;
    background-attachment: fixed;
}
h6{
    font-weight: normal;
}
.stars{
    position: fixed;
}
.star{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
    box-shadow: 0px 0px 10px 1px white;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%{
        opacity: 1;
    } 90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
}